/* public/css/style.css */

/* Дополнительные стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#date-filter-tabs {
    display: flex;
    justify-content: space-between;
}

.date-filter-tab {
    padding: 10px;
    margin: 5px;
    background: #ddd;
    border: 1px solid #ccc;
    cursor: pointer;
}

.date-filter-tab.active {
    background: #aaa;
}

.task-filter .filters-row {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.task-filter .filters-row > div {
    margin-right: 10px;
}

/* Если элементы не вмещаются на маленьких экранах, можно добавить медиа-запрос:
@media (max-width: 768px) {
    .task-filter .filters-row {
        flex-direction: column;
    }
}
*/