<!--src/Controller/View/task.html-->
<div id="editTaskModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h4>Редактировать задачу</h4>
        <form id="editTaskForm">
            <input type="hidden" id="editTaskId">
            <div>
                <label for="editTaskName">Имя задачи:</label>
                <input type="text" id="editTaskName" name="name">
            </div>
            <div>
                <label for="editTaskType">Тип задачи:</label>
                <select id="editTaskType" name="type">
                    <option value="встреча">Встреча</option>
                    <option value="звонок">Звонок</option>
                    <option value="совещание">Совещание</option>
                    <option value="дело">Дело</option>
                </select>
            </div>
            <div>
                <label for="editTaskLocation">Местоположение:</label>
                <input type="text" id="editTaskLocation" name="location">
            </div>
            <div>
                <label for="editTaskStartTime">Дата и время:</label>
                <input type="datetime-local" id="editTaskStartTime" name="start_time" required>
            </div>
            <div>
                <label for="editTaskDuration">Длительность:</label>
                <select id="editTaskDuration" name="duration" required>
                    <option value="1">1 час</option>
                    <option value="2">2 часа</option>
                    <option value="3">3 часа</option>
                    <option value="4">4 часа</option>
                    <option value="5">5 часов</option>
                </select>
            </div>
            <div>
                <label for="editTaskComment">Комментарий:</label>
                <textarea id="editTaskComment" name="comment"></textarea>
            </div>
            <div>
                <label for="editTaskStatus">Статус:</label>
                <select id="editTaskStatus" name="status">
                    <option value="текущее">Текущее</option>
                    <option value="выполненное">Выполненное</option>
                </select>
            </div>
            <button type="submit" class="btn">Сохранить изменения</button>
            <button type="button" id="deleteTaskButton" class="btn-delete">Удалить</button>
        </form>
    </div>
</div>